<div ng-show="showSearch">
    <form name="formSearch" ng-submit="submit(searchCriteria)" ng-controller="SearchCtrl">
        Ville de départ : <input id="start" name="start" ng-model="searchCriteria.startDate" class="typeahead" type="text" placeholder="Ville de départ" required>
        <div ng-show="formSearch.$submitted || formSearch.start.$touched">
            <div ng-show="formSearch.start.$error.required">Tell us your start.</div>
        </div>

        Ville de d'arrivée : <input id="end" name="end" ng-model="searchCriteria.endDate" class="typeahead" type="text" placeholder="Ville d'arrivée" required>
        <div ng-show="formSearch.$submitted || formSearch.end.$touched">
            <div ng-show="formSearch.end.$error.required">Tell us your end.</div>
        </div>
        Le
        <div id="datepicker" name="datepicker" ng-model="searchCriteria.datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
            <input ng-model="searchCriteria.date" class="form-control" type="text" readonly required/>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <div ng-show="formSearch.$submitted || formSearch.datepicker.$touched">
                <div ng-show="formSearch.datepicker.$error.required">Tell us date.</div>
            </div>
        </div>
        <input type="submit"    value="Submit">
    </form>
</div>
<script type="text/javascript">
    // Waiting for the DOM ready...
    $(function(){
        console.log('init calendar');
        // applied typeahead to the text input box
        $('#start').typeahead({
            name: 'countries',
            // data source
            prefetch: 'data/countries.json',
            // max item numbers list in the dropdown
            limit: 10,

        });

        $('#end').typeahead({
            name: 'countries',
            // data source
            prefetch: 'data/countries.json',
            // max item numbers list in the dropdown
            limit: 10,

        });


        $("#datepicker").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', new Date());
        

        $('.states').typeahead({
          name: 'countries',
            // data source
            prefetch: 'data/countries.json',
            // max item numbers list in the dropdown
            limit: 10,
         });
    });
</script>