<div ng-show="showSearch" class="search">
    
    <form class="form-horizontal" role="form" name="formSearch" ng-submit="submit(searchCriteria)" ng-controller="SearchController">
          <div class="form-group">
            <label class="col-sm-1 col-sm-offset-5 control-label"><span class="glyphicon glyphicon-log-out"></span></label>
            <div class="col-sm-5">
              <input placeholder="Départ" class="form-control" type="text" id="startCity" name="startCity" ng-model="searchCriteria.startCity" required>
              <div ng-show="formSearch.$submitted || formSearch.startCity.$touched">
                <div ng-show="formSearch.startCity.$error.required">Le point de départ est obligatoire.</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 col-sm-offset-5 control-label"><span class="glyphicon glyphicon-log-in"></span></label>
            <div class="col-sm-5">
              <input placeholder="Arrivée" class="form-control typeahead" type="text" id="endCity" name="endCity" ng-model="searchCriteria.endCity" required>
              <div ng-show="formSearch.$submitted || formSearch.endCity.$touched">
                <div ng-show="formSearch.endCity.$error.required">Le point de départ est obligatoire.</div>
              </div>
            </div>
          </div>
          <br>
          <div style="text-align: center;">
            <input class="btn btn-primary" name="commit" type="submit" value="Chercher" />
          </div>
    </form>
</div>
<link rel="stylesheet" href="css/search.css">
<script type="text/javascript">
    // Waiting for the DOM ready...
    $(function(){
        console.log('init calendar');
        // applied typeahead to the text input box
        $('#startCity').typeahead({
            name: 'countries',
            // data source
            prefetch: 'data/countries.json',
            // max item numbers list in the dropdown
            limit: 10
        });

        $('#endCity').typeahead({
            name: 'countries',
            // data source
            prefetch: 'data/countries.json',
            // max item numbers list in the dropdown
            limit: 10
        });


        $("#datepicker").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', new Date());
    });
</script>