<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ngMessages Demo</title>
  
  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">
  <style>body { padding-top:50px; }</style>
  
  <!-- JS -->
  <script src="//code.angularjs.org/1.4.0/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
</head>
<body class="container" ng-app="app" ng-controller="InscriptionController as main">
  <form name="userForm" novalidate>
    
    <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
      <label>Name</label>
      <input type="text" name="name" class="form-control" 
        ng-model="main.name"
        ng-minlength="5"
        ng-maxlength="10"
        required>
        
      <div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
        <p ng-message="minlength">Your name is too short.</p>
        <p ng-message="maxlength">Your name is too long.</p>
        <p ng-message="required">Your name is required.</p>
      </div>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
      <label>Email</label>
      <input type="email" name="email" class="form-control" 
        ng-model="main.email"
        ng-minlength="5"
        ng-maxlength="20"
        required>
        
      <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>
      
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-danger">Submit</button>
    </div>
    
  </form>
  
<pre>userForm.name.$error = {{ userForm.name.$error | json }}</pre>
  
</body>
</html>
